fastapi>=0.115.6
uvicorn>=0.34.0
supabase==2.4.0
pydantic>=2.10.4
pydantic-settings>=2.7.1
python-dotenv>=1.0.1
pandas>=2.2.3
python-multipart>=0.0.20
httpx>=0.24.0,<0.26.0
matplotlib>=3.9.0
pillow>=11.0.0
